.swiper-slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Position arrows at the top on mobile */
  @media (max-width: 768px) { 
    .swiper-button-prev, .swiper-button-next {
      bottom: auto; 
      top: 30px; 
    }
  }
  
  /* Optional: Customize the look of the arrows (if desired) */
  .swiper-button-prev, .swiper-button-next {
    color: white; 
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  