/* General container styles */
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom:5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease-in-out;
}

.custom-input-text-color{
  color: black;
}

.fee-container{
  color: black;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

.custom-input-text-color {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border 0.3s ease-in-out;
}

.custom-input-text-color:focus {
  border-color: #007bff;
  outline: none;
}

.fee-container {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
}

.fee-value {
  font-size: 1.5rem;
  color: #28a745;
  margin-top: 10px;
}

@media (max-width: 768px) {

  .calculator-container {
    margin-top: 100px;
    margin-bottom: 20px;
  }

}