
.project {
    border: 1px solid  #66fcf1;;
    padding: 20px;
    margin-bottom: 10px;
    min-height: 50vh;
}



.project-content {
    display: flex;
    justify-content: space-between; /* This will place the image and description on opposite sides */
    align-items: center; /* This vertically aligns items in the middle */
}

.project h2 {
    text-align: center; /* Specifically center the title */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  #66fcf1;
}

.project p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #66fcf1;
}

.project a{
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Custom AOS animations with more movement */
[data-aos="custom-slide-in-left"] {
    transform: translateX(-50%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1000ms;
    transition-timing-function: ease-out;
  }
  
  [data-aos="custom-slide-in-left"].aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
  
  [data-aos="custom-slide-in-right"] {
    transform: translateX(50%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1000ms;
    transition-timing-function: ease-out;
  }
  
  [data-aos="custom-slide-in-right"].aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
  
  
  .project-image {
      width: 50%;
      height: auto;
  }
  
  .project-description {
      width: 45%;
  }
  

.game-container {
    position: relative;
    width: 100%; /* full width of its container */
    max-width: 600px; /* maximum width */
    height: auto; /* Match the height of your canvas */
    margin: auto;
}

  
  canvas {
    border: 2px solid #66fcf1;  /* Dark gray outline */
    background-color: #1f2833;  /* Dark background for the canvas */
    width: 100%; /* full width of its container */
    max-width: 600px; /* maximum width */
    height: auto; /* maintain aspect ratio */
  }

  .canvas-container {
    width: 100%; /* full width */
    max-width: 600px; /* maximum width */
    margin: auto; /* center it */
}

  
  /* Assuming the paddles and ball colors are set via JS, you can ignore this CSS.
     However, if you ever decide to style via CSS, this can be handy. */
  
  .RightPaddle {
    background-color: #66fcf1;
  }
  
  .ball {
    background-color:#33FF57;  /* Green color for the ball */
  }
  
  .score {
    font-size: 24px;
    font-weight: bold;
    color: #66fcf1;  /* Goldish yellow color */
    margin-top: 10px;
  }

  .restart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 10px 15px;
    background-color: #66fcf1;
    color: #F8F8F8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .restart:hover {
    background-color: #41a099;
  }
  
  .rotate-message {
    display: none; /* Hides the rotate message */

  }
  
  .container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 10px;
    background: #1f2833;
    border-radius: 5px;
    flex: 1;
    max-width: 80%;
  }
  
  .center-text {
    text-align: center;
  }
  
  .center-container {
    text-align: center;
    margin-top: 10px;
  }

  input:focus, button:focus {
    outline: none;
    border-color: #45a29e; /* Adds a custom border color on focus */
    box-shadow: 0 0 3px #45a29e; /* Optional: Adds a subtle glow with the same color */
  }

  
  .loan-entry {
    display: flex;
    align-items: center;
    background-color: #1f2833;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0;
    overflow-x: auto;
  }

  .placeholder{
    color: #45a29e;
  }

  .loan-entry input, .loan-entry button {
    margin: 5px;
    padding: 8px;
    border: 2px solid #45a29e;
    background-color: #1f2833;
    color: #66fcf1;
    flex: 1 1 auto;
    min-width: 0;
  }
  
  .Payment-Text {
    margin-bottom: 10px;
    font-size: 15px;
    color: #66fcf1;
  }
  
  .budget-input {
    border: 3px solid #45a29e;
    background-color: #1f2833;        
    padding: 4px 8px;       
    font-size: 14;          
    margin-left: 10px;   
    color: #66fcf1;      
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
  
.budget-input::-ms-clear,
.budget-input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
  
  button {
    padding: 6px 4px;
    border: 3px  solid #45a29e;;
    background-color:  #1f2833;
    color: #66fcf1;
    cursor: pointer;
    margin: 4px;
    transition: background-color 0.3s ease;
  }
  
  .Navigate {
  padding: 6px 4px;
  border: none;
  }
  
  button:hover {
    background-color: #2f3d4f;
  }
  
  .frame {
    background-color: #45a29e;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .frame img {
    max-width: 100%; 
    max-height: 100vh; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto; 
  }

  body, html {
    overflow-x: hidden; /* Hide horizontal overflow */
}
  ul{
    color: #66fcf1;
  }

  .calculator-container {
    background-color:#1f2833;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px; 
}


.calculator-container input,
.calculator-container button {
    width: 100%; 
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 2px;
    border: 2px solid #45a29e;
    background-color: #1f2833;
}

.calculator-container button {
    background-color:#45a29e; 
    color: black;
    margin: 15px;
    border: none;
    cursor: pointer;
}

.calculator-container button:hover {
    background-color: #004C5C;
}

/* Hide arrows from number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

.fee-container {
    padding: 10px;
    border-radius: 5px;
    background-color:#1f2833;
    border: 2px solid #45a29e;
    text-align: center;
}

.custom-input-text-color {
  color: #45a29e; /* Specify your desired color */
}


.fee-value {
    font-size: 20px;
    color: #45a29e;
}

.error-message {
    color: red;
    margin: 10px 0;
}

input.input-error {
    border: 2px solid red;
  }
  
  @media (max-width: 800px) {

    .intro-section {
        margin-bottom: 100px;
    }

    .container {
      max-width: 800px;
    }

    .project-content {
        margin-top: 50px;
        flex-direction: column;
        text-align: left; /* Center-align the text for a neat appearance */
        height: 100%;
    }

    .project-image {
        width: 100%;
        height: 100%;
    }
    
    .project-description {
        width: 95%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
  
    .center-text {
      text-align: center;
      font-size: 20px;
    }
  
    .Payment-Text {
      margin-bottom: 10px;
      font-size: 10px;
    }
  
    .budget-input {
      border: 1px solid #45a29e; 
      border-radius: 5px;
      height: 15px;        
      padding: 1px 2px;       
      font-size: 5;          
      margin-left: 1px;          
      transition: border-color 0.3s ease; 
      color: white;
    }
    
    .loan-entry input {
      flex: 1;
      margin: 1px;
      padding: 4px 4px;
      border: 1px solid #45a29e;
      border-radius: 1px;
      flex: 1; 
      max-width: 15%;
      font-size: 10px;
      color: white;
    }

    button {
      padding: 1px 2px;
      border: 1px  solid #45a29e;;
      cursor: pointer;
      margin: 2px;
      transition: background-color 0.3s ease;
      font-size: 10px;
    }

    .rotate-message {
        display: block;
        text-align: center;
        font-size: 20px;
        color:#66fcf1;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .canvas-container {
        display: none;
    }
  }

/* Adjust flex basis for larger screens */
@media (min-width: 768px) {
  .loan-entry input, .loan-entry button {
    flex-basis: 15%; /* Adjust based on the number of inputs */
  }
}

/* Adjustments for very small screens */
@media (max-width: 480px) {
  .loan-entry {
    flex-direction: column; /* Stack elements vertically on very small screens */
  }

  .loan-entry input, .loan-entry button {
    flex-basis: auto;
    width: 100%;
  }
}
  